@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$header-height: 80px;
$footer-height: 130px;

* {
  scroll-margin-top: $header-height;
}

.content {
  min-height: calc(100vh - (#{$header-height} + #{$footer-height}));
}

.circle {
  display: flex;
  align-items: center;
  width: 250px;
  height: 250px;
  padding: 30px;
  border-radius: 100%;
}

:export {
  headerHeight: $header-height;
  footerHeight: $footer-height;
}