$header-height: 80px;
$footer-height: 70px;

.content {
  min-height: calc(100vh - (#{$header-height} + #{$footer-height}));
}

:export {
  headerHeight: $header-height;
  footerHeight: $footer-height;
}